/* FONT IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.iconCalendar {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}


/* VARIABLES */

#root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}


/* GENERAL */

* {
  box-sizing: border-box;
}

/*body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--bg-color);
  position: relative;
}*/

.headerCalendar {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

.headerCalendar #logo {
  font-size: 175%;
  text-align: center;
  color: var(--main-color);
  line-height: 1;
}

.headerCalendar #logo .iconCalendar {
  padding-right: .25em;
}

.mainCalendar {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em;
}


/* GRID */

.rowCalendar {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.rowCalendar-middle {
  align-items: center;
}

.colCalendar {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.colCalendar-start {
  justify-content: flex-start;
  text-align: left;
}
.colCalendar:hover {

}

.colCalendar-center {
  justify-content: center;
  text-align: center;
}

.colCalendar-end {
  justify-content: flex-end;
  text-align: right;
}


/* Calendar */

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}

.calendar .headerCalendar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .headerCalendar .iconCalendar {
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .headerCalendar .iconCalendar:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .headerCalendar .iconCalendar:first-of-type {
  margin-left: 1em;
}

.calendar .headerCalendar .iconCalendar:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 70%;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .bodyCalendar .cellCalendar {
  position: relative;
  height: 5em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .bodyCalendar .cellCalendar:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;

}

.calendar .bodyCalendar .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
  border-image-slice: 1;
}

.calendar .bodyCalendar .rowCalendar {
  border-bottom: 1px solid var(--border-color);
}

.calendar .bodyCalendar .rowCalendar:last-child {
  border-bottom: none;
}

.calendar .bodyCalendar .cellCalendar:last-child {
  border-right: none;
}

.calendar .bodyCalendar .cellCalendar .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;
}

.calendar .bodyCalendar .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .bodyCalendar .cellCalendar .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

.calendar .bodyCalendar .cellCalendar:hover .bg, .calendar .bodyCalendar .selected .bg  {
  opacity: 0.05;
  transition: .5s ease-in;
}

.calendar .bodyCalendar .colCalendar {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}


/* Inserimento delle note */
.Noteh2{
  padding:40px;
  font-weight:lighter;
  color:#414141;
  text-align: center;
}

.NoteInput{
  display:block;
  height:50px;
  width:90%;
  margin:0 auto;
  border:none;

}



.email,
.pwd{
  position:relative;
  z-index:1;
  border-bottom:1px solid rgba(0,0,0,.1);
  padding-left:20px;
  font-family: 'Open Sans', sans-serif;
  text-transform:uppercase;
  color:#858585;
  font-weight:lighter;
  -webkit-transition:.5s;
  transition:.5s;
}



.link{
  text-decoration:none;
  display:inline-block;
  margin:27px 28%;
  text-transform:uppercase;
  color:#858585;
  font-weight:lighter;
  -webkit-transition:.5s;
  transition:.5s;
}



.NoteButton {
  cursor: pointer;
  display: inline-block;
  margin-left: 6%;
  float: left;
  width: 40%;
  height: 60px;
  margin-top: -10px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.noteButtonSave {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.noteButtonSave:hover {
  background-color: #008CBA;
  color: white;
}


.noteButtonDelete{
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}

.noteButtonDelete:hover {
  background-color: #f44336;
  color: white;
}

.NoteSpan{
  position: absolute;
  display: block;
  margin: -10px 20%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .5s;
  transition: .5s;
}


.reg{
  position:absolute;
  top:0;
  left:0;
  -webkit-transform:translateY(-100%) scale(1);
  transform:translateY(-100%) scale(1);
  display:block;
  width:20px;
  height:20px;
  border-radius:50px;
  background:#673ab7;
  z-index:5;
  -webkit-transition:.8s ease-in-out;
  transition:.8s ease-in-out;
}



.sig{
  position:absolute;
  top:0;
  right:0;
  -webkit-transform:translateY(-100%) scale(1);
  transform:translateY(-100%) scale(1);
  display:block;
  width:20px;
  height:20px;
  display:block;
  background:#ff5722;
  z-index:5;
  -webkit-transition:.8s ease-in-out;
  transition:.8s ease-in-out;
}

.Noteh3{
  position:absolute;
  top:-100%;
  left:20%;
  text-transform:uppercase;
  font-weight:bolder;
  color:rgba(255,255,255,.3);
  -webkit-transition:.3s ease-in-out 1.2s;
  transition:.3s ease-in-out 1.2s;
}


.AddEvent{
  margin-left: 0px;
  width: 50%;
  height: 100%;
  background-image: url("./calendar-plus-regular.svg");
  background-repeat: no-repeat;
  background-size: 25% 25%;
  cursor: pointer;
  float: left;
  position: relative;



}

.ViewEvent{
  width: 50%;
  margin-left: 50%;
  height: 100%;
  position: absolute;
  float: right;
  background-image: url("./eye-regular.svg");
  background-repeat: no-repeat;
  background-size: 25% 25%;
  background-position: bottom right;
  cursor: progress;


}

/*

.AddEvent:hover{
  background-image: url("./calendar-plus-regular.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.ViewEvent:hover{
  background-image: url("./eye-regular.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
*/

.eventDay{
  margin-top: 35%;
  margin-left: 15%;
}

@media screen and (max-width: 600px) {
  .eventDay {
    margin-top: 50%;
    margin-left: 15%;
  }
}

@media screen and (max-width: 400px) {
  .eventDay {
    margin-top: 60%;
    margin-left: 15%;
  }
}


/*Lista di eventi in un giorno*/
/* LIST #2 */
#list2 {
  width:320px;
}

#list2 .olEvents {
  margin-top: -8%;
  font-style:italic;
  font-family:Georgia, Times, serif;
  font-size:24px;
  color: #327af1;
}

#list2 .olEvents .liEvents {

}

#list2 .olEvents .liEvents .pEvents {
  padding:8px;
  font-style:normal;
  font-family:Arial;
  font-size:20px;
  color: #000000;
  border-left: 1px solid #083aff;

}

#list2 .olEvents .liEvents .pEvents  {
  display:block;
}

.EventsContainer{
  margin-top: 5%;
}

.EvContainer{
  position:relative;
  top:0%;
  left:5%;
  display:block;
  margin-bottom:0%;
  width:90%;
  height:20%;
  background: #f4f4ef;
  opacity: 0.9;
  border-radius:5px;
  overflow:hidden;
  z-index:1;
}


.EventsButton {
  cursor: pointer;
  display: inline-block;
  float: left;
  width: 100%;
  height: 60px;
  margin-top: -10px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;

}
.EventsSpan{
  position: absolute;
  display: block;
  margin: -10px 20%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .5s;
  transition: .5s;
}

.addEventCalendar{
  cursor: pointer;
  margin-top: 0%;
  margin-left: 45%;
}


/*CSS per editing di un evento*/
.containerEdit{
  position:relative;
  top:0%;
  left:20%;
  display:block;
  margin-bottom:0%;
  width:300%;
  height:200px;
  background:#fff;
  border-radius:5px;
  overflow:hidden;
  z-index:1;
}

@media screen and (max-width: 700px) {
  .EditContainer {
    margin-top:-50%;
    width: 50%}
}

@media screen and (max-width: 800px) {
  .EditContainer {
    margin-top:-50%;
    width: 60%}
}

@media screen and (max-width: 650px) {
  .EditContainer {
    margin-top:-50%;
    width: 30%}
}


.containerEdit{
  position:relative;
  top:-20%;
  left:-150%;
  display:block;
  margin-bottom:0%;
  width:270%;
  height:50%;
  background: #ddddd8;
  border-color: #2c24ff;
  border-radius:5px;
  overflow:hidden;
  z-index:1;
}

.Noteh2Edit{
  padding:10px;
  font-weight:lighter;
  font-size: 30px;
  color:#414141;
  text-align: center;
}


.NoteInputEdit{
  display:block;
  height:30%;
  width:90%;
  margin:0 auto;
  border:none;

}



.emailEdit,
.pwdEdit{
  position:relative;
  z-index:1;
  border-bottom:1px solid rgba(0,0,0,.1);
  padding-left:18px;
  font-family: 'Open Sans', sans-serif;
  text-transform:uppercase;
  color:#858585;
  font-weight:lighter;
  font-size: 20px;
  -webkit-transition:.5s;
  transition:.5s;
}



.saveEdit{
    float: left;
    position:relative;
    cursor: pointer;
    top:25px;
    left:0;
    -webkit-transform:translateY(-100%) scale(1);
    transform:translateY(-100%) scale(1);
    display:block;
    width:50%;
    height:35px;
    z-index:5;
    -webkit-transition:.8s ease-in-out;
    transition:.8s ease-in-out;
    text-align:center;
}



.closeEdit {
  position: relative;
  top:25px;
  right:0;
  -webkit-transform: translateY(-100%) scale(1);
  transform: translateY(-100%) scale(1);
  width: 50%;
  height:35px;
  display: block;
  z-index: 5;
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
  cursor: pointer;
}

.NoteButtonEdit {
  display: inline-block;
  float: left;
  width: 250px;
  height: 60px;
  margin-top: -10px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.EventSpan{
  position: relative;
  display: block;
  margin: -10px 20%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .5s;
  transition: .5s;
}

.updateEdit{
    position: relative;
    margin-right: 0px;
}


/*Bottoni personalizzati per la lista di eventi*/

.buttonEvent {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}

#navi, .preview {
  width: 100%;
  height: 100%;
  position: absolute;

}

#appPreview {
  width: 100%;
  height: 100%;
}

.preview {
  z-index: 10;
}

.myPost {
  width: 100%;
  height: 100%;
}

.myOpacity {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,1);
  opacity: 0.5;
}
@media screen and (max-width: 1750px) {
  .myOpacity {
    height: 300%;
  }
}

.myFormEditEvent {
  z-index: 10;
  position: absolute;
  left: 43%;
  background: white;
  width: auto;
  border-radius: 30px;
  top: 50%;
  height: 26%;
}
@media screen and (max-width: 1750px) {
  .myFormEditEvent {
    left: 42%;
  }
}
@media screen and (max-width: 1500px) {
  .myFormEditEvent {
    left: 41%;
  }
}
@media screen and (max-width: 1150px) {
  .myFormEditEvent {
    left: 38%;
  }
}
@media screen and (max-width: 800px) {
  .myFormEditEvent {
    left: 33%;
  }
}
@media screen and (max-width: 500px) {
  .myFormEditEvent {
    left: 20%;
  }
}
@media screen and (max-width: 400px) {
  .myFormEditEvent {
    left: 11%;
    height: 40%;

  }
}


.myFormAddEvent {
  z-index: 10;
  position: absolute;
  left: 33%;
  background: white;
  width: auto;
  border-radius: 30px;
  top: 28%;
  height: 400px
}
@media screen and (max-width: 1750px) {
  .myFormAddEvent {
    left: 30%;
  }
}
@media screen and (max-width: 1500px) {
  .myFormAddEvent {
    left: 25%;
  }
}
@media screen and (max-width: 1150px) {
  .myFormAddEvent {
    left: 22%;
  }
}
@media screen and (max-width: 1000px) {
  .myFormAddEvent {
    left: 17%;
  }
}
@media screen and (max-width: 850px) {
  .myFormAddEvent {
    left: 10%;
  }
}
@media screen and (max-width: 650px) {
  .myFormAddEvent {
    left: 0%;
  }
}
