/* FONT IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.iconCalendar {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}


/* VARIABLES */

#root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}


/* GENERAL */

* {
  box-sizing: border-box;
}

/*body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--bg-color);
  position: relative;
}*/

.headerCalendar {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

.headerCalendar #logo {
  font-size: 175%;
  text-align: center;
  color: var(--main-color);
  line-height: 1;
}

.headerCalendar #logo .iconCalendar {
  padding-right: .25em;
}

.mainCalendar {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em;
}


/* GRID */

.rowCalendar {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.rowCalendar-middle {
  align-items: center;
}

.colCalendar {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.colCalendar-start {
  justify-content: flex-start;
  text-align: left;
}
.colCalendar:hover {

}

.colCalendar-center {
  justify-content: center;
  text-align: center;
}

.colCalendar-end {
  justify-content: flex-end;
  text-align: right;
}


/* Calendar */

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .header .iconCalendar {
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .header .iconCalendar:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .header .iconCalendar:first-of-type {
  margin-left: 1em;
}

.calendar .header .iconCalendar:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 70%;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .cell {
  position: relative;
  height: 5em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
  background-image: url("./calendar-plus-regular.svg");
  background-repeat: no-repeat;
  background-size: 50% 50%;
}

.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
  border-image-slice: 1;
}

.calendar .body .rowCalendar {
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .rowCalendar:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

.calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
  opacity: 0.05;
  transition: .5s ease-in;
}

.calendar .body .colCalendar {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}


/* Inserimento delle note */

.NoteContainer{
  margin-top:-10%;
}

.container{
  position:relative;
  top:0%;
  left:20%;
  display:block;
  margin-bottom:0%;
  width:500px;
  height:360px;
  background:#fff;
  border-radius:5px;
  overflow:hidden;
  z-index:1;
}

.Noteh2{
  padding:40px;
  font-weight:lighter;
  text-transform:uppercase;
  color:#414141;
  text-align: center;
}

.NoteInput{
  display:block;
  height:50px;
  width:90%;
  margin:0 auto;
  border:none;

}



.email,
.pwd{
  position:relative;
  z-index:1;
  border-bottom:1px solid rgba(0,0,0,.1);
  padding-left:20px;
  font-family: 'Open Sans', sans-serif;
  text-transform:uppercase;
  color:#858585;
  font-weight:lighter;
  -webkit-transition:.5s;
  transition:.5s;
}



.link{
  text-decoration:none;
  display:inline-block;
  margin:27px 28%;
  text-transform:uppercase;
  color:#858585;
  font-weight:lighter;
  -webkit-transition:.5s;
  transition:.5s;
}



.NoteButton {
  cursor: pointer;
  display: inline-block;
  float: left;
  width: 250px;
  height: 60px;
  margin-top: -10px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;

}
.NoteSpan{
  position: absolute;
  display: block;
  margin: -10px 20%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .5s;
  transition: .5s;
}


.reg{
  position:absolute;
  top:0;
  left:0;
  -webkit-transform:translateY(-100%) scale(1);
  transform:translateY(-100%) scale(1);
  display:block;
  width:20px;
  height:20px;
  border-radius:50px;
  background:#673ab7;
  z-index:5;
  -webkit-transition:.8s ease-in-out;
  transition:.8s ease-in-out;
}



.sig{
  position:absolute;
  top:0;
  right:0;
  -webkit-transform:translateY(-100%) scale(1);
  transform:translateY(-100%) scale(1);
  display:block;
  width:20px;
  height:20px;
  display:block;
  background:#ff5722;
  z-index:5;
  -webkit-transition:.8s ease-in-out;
  transition:.8s ease-in-out;
}

.Noteh3{
  position:absolute;
  top:-100%;
  left:20%;
  text-transform:uppercase;
  font-weight:bolder;
  color:rgba(255,255,255,.3);
  -webkit-transition:.3s ease-in-out 1.2s;
  transition:.3s ease-in-out 1.2s;
}


